#wrapper{
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;

}
#wrapper.menudisplayed #wrapper{
width: 250px;

}

.sidebar-nav{
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 60px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    background: rgb(26, 36, 66);
}
#submenu{
    list-style: none;
}
#submenu li a:hover{
    width: 250px;
}