:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #286F5F;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
body{
  
    color:black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
  }

main{
    margin-left: 6rem;
    padding: 1rem;
}

.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin:0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-link, 
  .nav-link-logo{
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--bg-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);  
   
  }
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  .nav-link-logo svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  .logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  padding-bottom: 4rem;
}
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  .logout:hover svg{
    transform: rotate(-90deg);
  }

  .list-item{
    display: relative;
    list-style: none;
  }

  .list-link{
    text-decoration: none;
  }
  

  /* .list-text{
    display: none;
    margin-left: 2rem;
  } */
  
/* media queries */

/* small screens */
@media only screen and (max-width: 650px) and (min-width:300px)
{   
     .navbar{
        top: 0;
        width: 100vw;
        height: 4rem;
    }

    .logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
        left: 0;
    }
    .nav-link svg {
      margin: 0;
    }
    main{
        margin-left: .5rem;
        margin-right: .5rem;
        margin-top: 3rem;   
    }
}
/* big screens*/
 @media only screen and (min-width: 650px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 13rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 10rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
    .nav-item:last-child{
      margin-top: auto;
    }
  } 