.form-container{
   
    background: white;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.login-header{
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 400px;
  margin-bottom: 0px;
}