@import url('https://fonts.googleapis.com/css?family=Vidaloka|Viga&display=swap');

*{
    box-sizing: border-box;
}

body
{   
   
    font-family: 'Viga' ,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
}

input[type="button"]{
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px 60px;
    font-size: 16px;
    text-align: center;
}
#email
{
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
	height: 45px;
	width: 300px;
	background-color: whitesmoke;
    padding-left: 40px;
    border-radius: 20px;
    outline: none;
}
.container
{
    background: linear-gradient(150deg,#225588, #547821) ;
    height: 400px;
    padding: 0 50px;
    width: 410px;
    text-align: center;
    box-shadow: 2px 2px 7px 1px #000000;
}

#email:focus
{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
h2{
    text-align: center;
    font-size: 25px;
}