@import url('https://fonts.googleapis.com/css?family=Vidaloka|Viga&display=swap');

*{
    box-sizing: border-box;
}

body
{
    
    font-family: 'Viga' ,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
}

.container
{
    background: linear-gradient(150deg,#225588, #547821) ;
    height: 650px;
    padding: 0 50px;
    width: 410px;
    text-align: center;
    box-shadow: 2px 2px 7px 1px #000000;
}
input[type="text"],input[type="password"],input[type="email"] {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
	height: 45px;
	width: 300px;
	background-color: whitesmoke;
    padding-left: 40px;
    border-radius: 20px;
    outline: none;
}
input[type="button"]{
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px 60px;
    font-size: 16px;
    text-align: center;
  }

a{
    color: black;
    text-decoration: none;
}
p{
    margin-top: 50px;
}
a:hover{
    text-decoration: underline;
    color: blanchedalmond;
}

.medium-password{
background-color: #E4DB11;
border:#BBB418 1px solid;
}
.weak-password{
background-color: #FF6600;
border:#AA4502 1px solid;
}
.strong-password{
    background-color: #12CC1A;
    border:#0FA015 1px solid;
}
h1{
    text-align: center;
   
}