@import url('https://fonts.googleapis.com/css?family=Vidaloka|Viga&display=swap');


*{
    box-sizing: border-box;
}

body
{
    font-family: 'Viga' ,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
}
.container{
    background: linear-gradient(150deg,#225588, #547821) ;
    height: 560px;
    padding: 0 50px;
    width: 380px;
    text-align: center;
    box-shadow: 2px 2px 7px 1px #000000;
}

.container img
{
    width: 120px;
	height: 120px;
    margin-top: 15px;
    margin-bottom: 25px;  
}
input[type="text"],input[type="password"]{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
	height: 45px;
	width: 300px;
	background-color: whitesmoke;
    padding-left: 40px;
    border-radius: 20px;
    outline: none;
}

input[type="checkbox"]
{
    margin-left: -43px;
    margin-right: 10px;
}
/* .form-container i {

    position: absolute;
    box-sizing: border-box;
    left: 800px;
    color: #aaa;
   
  } */
input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;

  }
input[type="password"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
    
  } 
  p {
   text-align: center;   
   margin-top: 50px;
   box-sizing: border-box;
  }

  a{
      
      color: black;
      text-decoration: none;
  }
  #fp{
    padding-left: 30px;
  }

  a:hover{
      text-decoration: underline;
      color: blanchedalmond;
  }
  input[type="button"]{
    border-radius: 5px;
    margin-top: 35px;
    padding: 10px 60px;
    font-size: 16px;
    text-align: center;
  }
  #login:active{
    transform: scale(0.80);
  }
  
  label{
      margin-left: -10px;
  }
  