:root {
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #286F5F;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  body{
  
    color:black;
    background-color: white;
    margin: 0;
    padding: 0;
}
main{
    margin-left: 6rem;
    padding: 1rem;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 3px 3px 0 0 ;
    overflow: hidden;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    /* background-color: var(--bg-primary); */
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even),
.content-table tbody tr:hover{
    background-color: #f3f3f3;
}
input[type="button"]{
    display: inline-block;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
    text-decoration: none;
    color: black;
    background:  var(--bg-primary);
    padding: 10px 30px 10px 30px;
}
/* .btn-edit{
    
    background-color:#2699ab ;
}
.btn-delete{
    background-color:#cf2e2e ;
} */

.edit
{
    border: none;
    background: transparent;
}
.field{
    padding: 10px 30px 10px 30px;
}